
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C18CE8;
  padding: 1.2rem 2rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

a {
  text-decoration: none;
}


.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  margin-right: 0.5rem;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  color: black;
  margin-top: -1px; /* Ajusta el valor según lo que necesites */
}

.header-right button {
  background: transparent;
  color: white;
  font-weight: 600;
  border: 1px solid white;
  padding: 0.4rem 0.8rem;
  margin-left: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.header-right button:hover {
  background: white;
  color: #9B59B6;
}